<style>
    .cen{
        font-weight: 500;
    }

</style>


<footer class="footer bg-dark mt-auto py-2">
    <div class="container ms-auto ">
    <span class=" cen text-muted ms-5">&copy; 2021 Camp Station</span>
</div>
</footer>